.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff; 
  font-family: 'Poppins', sans-serif;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 350px;
  padding: 2rem;
}

.title {
    font-size: 1.75rem;
    font-weight: 500;
    color: #4A5568; /* gray-700 */
    margin-top: -0.5rem; 
}

.subtitle {
  font-size: 1rem;
  color: #718096; /* gray-500 */
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.buttonContainer {
    width: 100%;
}

